/* Connor Ward */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time1, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of CSS reset */

/* Additional resets */

button {
    border: none;
}

/* Allows modals to be up to 100% of viewport width and height in Chrome when using the Box Model Fix */

dialog:modal {
    max-width: 100vh;
    max-height: 100vh;
}

/* Box Model Fix / Border Box Fix */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Responsive images */

img {
    max-width: 100%;
}

/* --------- End of boilerplate CSS --------- */

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:wght@100..900&display=swap');

/* Root variables */

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #ffffff;
    --black: #000000;
    --molle: "Molle", cursive, system-ui;
    --montserrat: "Montserrat", sans-serif, system-ui;
    --time1: 0.3s;
    --section-padding-top: 2.25rem; /* 36px */
}

/* About */

#about {
    background-color: var(--blue);
    /* padding-top: var(--section-padding-top); */

}

#about div {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2.25rem;
    gap: 1.25rem; /* 20px */
    margin: 0 auto;

}

#about section {
    /* display: grid;
    justify-content: center;
    justify-items: center; */
    /* align-content: baseline; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about img {
    height: 100px;
}


/* Body elements - general/base padding */

:is(#plan, #testimonials, #about, #contact) {
    /* Everything but #img-grid, menu, and footer. h1, h2, and p in header and #intro + the entirety of #plan, #testimonials, #about, and #contact */
    padding: var(--section-padding-top) 2.375rem 0 2.375rem; /* 38px */
}

:is(header, #intro) :is(h1, h2, p) {
    padding: 0 2.375rem;
}

#intro h2 {
    padding-bottom: 0.5rem;
}

/* --------- Header and menu --------- */

header {
    padding-top: .75rem;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "logo menu"
    "heading heading"
    "p p";
    background: linear-gradient(to bottom, var(--teal), var(--white));
}

header a {
    grid-area: logo;
}

header nav {
    grid-area: menu;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    height: 50px;
    margin: auto 0;    
}

#logo {
    max-width: 160px;
}

nav:has(#toggle:checked) {
    position: absolute;
    display: block;
    z-index: 1;
    /* Either do these two properties or margin: 0 auto;
    right: 50%; */
    /* transform: translateX(50%); */
    margin: 0 auto;
    top: 0%;
    width: 100%;
}

nav:has(#toggle:checked) label {
    display: block;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--white);
}

nav:has(#toggle:checked):before {
    content: '';
    background-color: var(--white);
    display: block;
    height: 27px;
    width: 100%;
}

nav:has(#toggle:checked) li {
    background-color: var(--teal);
    border: 1px solid var(--dark-gray);
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav:has(#toggle:checked) li a {
    color: var(--black);
    text-decoration: none;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header p {
    grid-area: p;
    margin-top: 0.25rem; /* 4px */
}

header h1 {
    grid-area: heading;
}

#menu-toggle :is(label, li) {
    font-variation-settings: 'wght' 600;
    text-transform: uppercase;
}

#toggle {
    display: none;
}

#toggle ~ ul {
    max-height: 0;
    overflow: hidden;
    transition: none;
    
}

#toggle:checked ~ ul {
    max-height: 450px;    
    transition: max-height var(--time1);
}

/* --------- End of header and menu --------- */

/* Image grid */

#img-grid {
    margin-top: .625rem; /* 10px */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem; /* 20px */
}

#img-grid img {
    width: 100%;
}

/* --------- Plan --------- */

#plan {
    margin-top: 1.25rem; /* 20px */
    background-color: var(--yellow);
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 1.25rem;
}

#plan div {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1.125rem; /* 18px */
}

#plan section {
    background-color: var(--teal);
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-rows: auto 1fr;
    align-items: center;
    padding: 1.5rem 0; /* 24px */
    margin: .375rem 0; /* 6px */
    height: 302px;
    border-radius: 12px;
    border: 4px solid var(--white);
}

#plan h4 {
    font-variation-settings: 'wght' 600;
    text-transform: uppercase;
}

#plan a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#plan section:nth-child(odd) img {
    max-width: 90%;
}

#plan section:nth-child(even) img {
    max-width: 85%;
}

/* --------- End of Plan --------- */

/* --------- Testimonials --------- */

#testimonials {
    /* padding-top: var(--section-padding-top); */
    padding-bottom: .625rem;
    margin-top: .675rem;
}

#testimonials div {
    /* margin-top: .5rem; */
    display: grid;
    grid-template-columns: 1fr;
    max-width: 290px;
    margin: 1rem auto;
    text-align: center;
}

#testimonials section {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#testimonials img {
    margin: .75rem 0;
}



/* --------- Typography --------- */

body {
    line-height: 2rem;
}

h1 {
    font-size: 3.125rem; /* 50px */
    margin-top: 1.5rem;
}

h2, h3 {
    font-size: 2.5rem; /* 40px */
}

#intro h2 {
    margin-top: 3rem;
}

#plan h4 {
    font-size: 1.625rem; /* 26px */
}

    /* Typography - Testimonials */

#testimonials h4 {
    font-size: 1.875rem; /* 30px */
    font-variation-settings: 'wght' 600;
    text-transform: uppercase;
}

#testimonials :is(p, q) {
    font-size: 1.25rem; /* 20px */
    line-height: 1.625rem; /* 26px */
}

#testimonials q {
    font-style: italic;
}

q {
    quotes: "“" "”" "‘" "’";
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

    /* End of Typography - Testimonials */

#about h4 {
    font-size: 1.25rem; /* 20px */
    text-transform: uppercase;
    font-variation-settings: 'wght' 600;
    padding-top: 0.5rem;
}

:is(header, #testimonials, #about) p {
    font-size: 1.25rem; /* 20px */
}

:is(#intro, footer) p {
    font-size: 1rem; /* 16px */
}

:is(h1, h2, h3) {
    font-family: var(--molle);
    font-weight: 400;
    font-style: italic;
}

:is(h4, p, q, small, nav, button, form) {
    font-family: var(--montserrat);
    font-optical-sizing: auto;
    font-variation-settings: 'wght' 400;
}

/* --------- End of typography --------- */

/* Skip link */

#skip {
    font-family: var(--montserrat);
    background-color: var(--teal);
    color: var(--black);
    position: absolute;
    left: 50%;
    padding: .875rem;
    transform: translate(-50%, -100%);
    transition: transform 0.4s;
}
  
#skip a {
    text-decoration: underline;
}
  
#skip:focus-within {
    transform: translate(-50%, 0%);
}

/* Screenreader only */

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
